ActiveNode :
    Config :
      - context : jane_bank
        metadata : "file:///{RootPath}/meta/jane_bank.meta.json"
        autoDynamicType : false
        autoVersioning : true
ActiveIO :
    Config :
      - context : jane_bank
        activity : "file:///L:/Activity/activity.{Date}.jane_bank.log"
ActiveHtml :
    Config :
      - context : jane_bank
        labels : "file:///{RootPath}/languages/labels.{Language}.jane_bank.dat"
ActiveServer :
    Config :
        servers :
          - com.schorn.jane.bank.app.ActiveBankServer
