Provider :
    ClassPath :
        ContextProvider : org.schorn.ella.impl.context.ContextProviderImpl
        NodeProvider : org.schorn.ella.impl.node.NodeProviderImpl
        TransformProvider : org.schorn.ella.impl.transform.TransformProviderImpl
        ParserProvider : org.schorn.ella.impl.parser.ParserProviderImpl
        ErrorProvider : org.schorn.ella.impl.error.ErrorProviderImpl
        EventProvider : org.schorn.ella.impl.event.EventProviderImpl
        IOProvider : org.schorn.ella.impl.io.IOProviderImpl
        RepoProvider : org.schorn.ella.impl.repo.RepoProviderImpl
        ServerProvider : org.schorn.ella.impl.server.ServerProviderImpl
        LoadProvider : org.schorn.ella.impl.load.LoadProviderImpl
        ServicesProvider : org.schorn.ella.impl.services.ServicesProviderImpl
        SQLProvider : org.schorn.ella.impl.sql.SQLProviderImpl
        HtmlProvider : org.schorn.ella.impl.html.HtmlProviderImpl
        HTTPProvider : org.schorn.ella.impl.http.HTTPProviderImpl
        ModelProvider : org.schorn.ella.impl.model.ModelProviderImpl
ActiveApp :
    Config :
        date : ~
        environment : ~
        rootPath : ~
        configPath : ~
        context : ~
        contexts : [ jane_bank ]
        language : en
ActiveNode :
    Config :
      - context : jane_bank
        metadata : ./meta/jane_bank.meta.json
        autoDynamicType : false
        autoVersioning : true
ActiveIO :
    Config :
      - context : jane_bank
        activity : "file:///D:/Activity/activity.{Date}.jane_bank.log"
ActiveHtml :
    Config :
      - context : jane_bank
        labels : "file:///{RootPath}/languages/labels.{Language}.jane_bank.dat"
ActiveServer :
    Config :
        masterServer : true
        masterServerAddress : ~
        maxIOThreads : 5
        servers :
          - com.schorn.jane.bank.app.ActiveBankServer
    ClassPath :
        ActiveServer.Config : org.schorn.ella.impl.server.ServerConfigImpl
ActiveTransform :
    Config :
      - context : Common
        lineParserCSVPattern : "(?:(?<=\")([^\"]*)(?=\"))|(?<=,|^)([^,]*)(?=,|$)"
        
